<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />
<title>sound-rebound configuration</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/style.css') }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


</head>
<body>
	<header id="header">
		<img src="{{ url_for('static',filename='./images/logo.png') }}" 
			 style="height:100%" alt="sound-rebound logo">
		<p>
			sound-rebound
		</p>
	</header>

	<div id="bodyContent">
		<div id="notifications">
			
		</div>
		{% include 'form.html'%}
	</div>

	{% if error %}
      <h1>{{error}}</h1>
    {% endif %}

	<button class="button" id="addAccount">add a account</button>


<script src="{{ url_for('static',filename='./javascript/javascript.js') }}"></script>
<script src="{{ url_for('static',filename='./javascript/javascript2.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
	console.log("document is ready")
	var socket = io.connect('http://localhost:5000');
	socket.on('connect', function() {
		socket.send('User has connected!');
		console.log("trying to connect")
	});
	/*///////////////////////////////////////////////////
	/	on event `allAccounts` add all notification
	/	to  $("#notifications")
	///////////////////////////////////////////////////*/
	socket.on("allAccounts",function(accountsData){
		console.log("get all Account")
		/*///////////////////////////////////////////////////
		/	get the data and clear
		/	all the notifiacation in $("#notifications")
		/	with .html("")
		///////////////////////////////////////////////////*/
		accounts = accountsData['data'];
		$("#notifications").html("")

		/*///////////////////////////////////////////////////
		/	loop through each account and for each account.
		/	create a the html for the account bubble and
		/	append it to $("#notifications")
		///////////////////////////////////////////////////*/
		for(var i = 0; i < accounts.length; i++){
			notifications = crateNotificationList(accounts[i].notifications);
			account = createAccountHTML(accounts[i].email,notifications);
			$("#notifications").append(account)
		}

		/*///////////////////////////////////////////////////
		/	add click event handlers to '.deleteButton',
		/  	so you can remove a account.
		///////////////////////////////////////////////////*/
		$('.deleteButton').on('click', function() {
			email = $(this).parent().find(".accountId").attr('address')
			socket.emit("remove_account",{"emailAddress": email});
		});
	})
	/*///////////////////////////////////////////////////
	/	when the form is submitted, get
	/	the information and send it in  a socket,
	/	and prevent it from refreshing.
	///////////////////////////////////////////////////*/
	$( "#form" ).submit(function( event ) {
		accountEmail = $("#accountEmail").val();
		accountPassword = $("#password").val();
		socket.emit("add_account",{"emailAddress": accountEmail, "password":accountPassword});
		hideForm();
		console.log("submitted form");
		event.preventDefault();
	});
	
});
</script>

</body>
</html>